.card {
    width: 16rem;
    height: 24rem;
    
    background-color: rgba(239, 243, 245, 0.932);
    border-radius: 1rem;
    transition-property: transform;
    transition-duration: 300ms;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    white-space: pre-line;

    display:flex;
    flex-direction: column;
    align-items: center;
}

.cardSelected{
    width: 16rem;
    height: 24rem;
    
    background-color: rgba(124, 160, 184, 0.932);
    border-radius: 1rem;
    transition-property: transform;
    transition-duration: 300ms;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    white-space: pre-line;

    display:flex;
    flex-direction: column;
    align-items: center;

}




.carda{

    width: 20rem;
    height: 10rem;
    
    background-color: rgba(239, 243, 245, 0.932);
    border-radius: 1rem;
    transition-property: transform;
    transition-duration: 300ms;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    white-space: pre-line;

    display:flex;
    flex-direction: column;
    align-items: center;

}

.carda-dia{
    width: 20rem;
    height: 3rem;
    
    background-color: rgba(239, 243, 245, 0.932);
    border-radius: 1rem;

}

.pru{
    
    width: 15rem;
    height: 22rem;
    padding: 0px;
    overflow: scroll;

   
}

.pru::-webkit-scrollbar{
    display: none;
}


.wodcard-dia {
    color: rgb(27, 99, 255);
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wodcard-parte {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.tit {
    color: rgb(0, 0, 126);
    font-weight: bold;
    
}

.botones-card {
    display: flex;
    justify-content: space-between;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 10px;
    gap: 2rem;
    margin-bottom: 0.3rem;

}

.botonCard-actualizar {
    width: 5.5rem;
    background-color: #fda500;
    border: none;
    border-radius: 4px;
    color: #fff;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s;

}

.botonCard-borrar {
    width: 5.5rem;
    background-color: #942323;
    border: none;
    border-radius: 4px;
    color: #fff;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s;

}

.botonCard-actualizar:hover,
.botonCard-borrar:hover {
    background-color: #0d9101;
}

.row-card{
    display: flex;
    flex-direction: row;
    
    align-items: center;
    justify-content: center;
    gap: 8px;
    height:20px;
}