.wod-selected-list {
    background-color: #1a1a1a;
    margin: 0;
    padding: 0;
    min-height: calc(100vh - (3rem + 3rem));
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wsl-form {
    background-color: #1a1a1a;
    width: 75%;
    padding: 20px;
    border-radius: 10px;
    width:75%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.wsl-form-textarea {
    width: 50%;
    margin: 0;
    margin-right: 0.3rem;
    background-color: #333;
    color: #fff;
    border: 1px solid #666;
    border-radius: 5px;
    height: 2rem;
}

.wsl-form-button {
    
    background-color: #007bff;
    /* Azul brillante */
    color: #fff;
    /* Texto blanco */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 2rem;
}

.wsl-form-button:disabled {
    background-color: #666;
    /* Gris oscuro para botón deshabilitado */
    cursor: not-allowed;
}

.wsl-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.no-result-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.no-result-container p{
    color: #fff;
}

.p-no-result{
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0;
}

.sts-card-busqueda{
    width: 75%;
}



.movimientos-container-busqueda {
    display: flex;
    flex-wrap: wrap;
   
    justify-content: space-around;
  }
  
  .movimiento-item-busqueda {
    margin: 5px;
    padding: 5px;
    background-color: transparent; /* Sin fondo */
    color: white; /* Letra blanca */
   
  }