



.contenedor-block{ 
    background-color: rgba(239, 243, 245, 0.932);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 25rem;
}



.exercice-row{
    display: flex;
    gap: 5px;
}

.input-rep{
    width: 5%;
    
}

.input-mov{
    flex: 1;
    width: 90%;
    
}

.boton {
    background-color:  blue; /* Azul */
    border: none;
    border-radius: 10px; /* Bordes redondeados */
    color: #fff; /* Color del texto */
    padding: 10px 20px; /* Espaciado interno */
    font-size: 16px; /* Tamaño del texto */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    outline: none; /* Quita el contorno al hacer clic */
  }
  
  .boton:hover {
    background-color:  rgb(33, 33, 211); /* Cambia el color al pasar sobre el botón */
  }

  .head-form{
    display: flex;
    flex-direction: column;
    width: 40%;
  }
  