.contenedor-block{ 
    background-color: rgba(239, 243, 245, 0.932);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 25rem;
    position: relative;
}

.head-form{
  display: flex;
  flex-direction: column;
  width: 40%;
}

.head-form-input{
  height: 1.2rem;
  border: solid 0.5px;
  border-radius: 5px;
  border-color:darkgrey;

}

.exercice-row{
    display: flex;
    gap: 5px;
}

.input-rep{
    width: 1.5rem;
    height: 1.2rem;
    border: solid 0.5px;
    border-radius: 5px;
    border-color:darkgrey;
    
}

.input-mov{
    flex: 1;
    height: 1.2rem;
    width: 90%;
    border: solid 0.5px;
    border-radius: 5px;
    border-color:darkgrey;
    
}

.boton {
    background-color:  blue; /* Azul */
    border: none;
    border-radius: 10px; /* Bordes redondeados */
    color: #fff; /* Color del texto */
    padding: 10px 20px; /* Espaciado interno */
    font-size: 16px; /* Tamaño del texto */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    outline: none; /* Quita el contorno al hacer clic */
  }
  
  .boton:hover {
    background-color:  rgb(33, 33, 211); /* Cambia el color al pasar sobre el botón */
  }

  .botones-footer-form{
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
  }

  .botones-footer-form .boton{
    width: 8rem;
  }


  .contenerdor-form-edit{
    min-height: calc(95vh - (3rem + 2rem));
  }

  .form-edit{
    margin-top: 5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form-edit-buton{
    width: 25rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .form-edit-buton .boton{
    width: 8rem;
  }
 
  .boton-eliminar-block{
    position: absolute;
    top: 1vh;
    right: 1vh;
  }

  .button-delete-row{
    border: none;
    background-color: transparent;
    font-size: large;
  }
